body {
	  background: url("../../assets/images/probius.jpg");
	  background-size: 100% auto;


}

.row {
	color: white;

}

.title {
	color: white;
	padding-left: 10px;
}

.pylon{
	width: 50px;
}

#instructions{
	padding: 10px;
}